<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CocoaPods-Mix-Action.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>CocoaPods-Mix-Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>CocoaPods-Mix-Framework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4A1423BF1EC24BCB00CB4EE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A1423D91EC24BE100CB4EE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A1423EA1EC24C2900CB4EE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
